---
import { rodeit } from 'src/api/mod';
import ProfileLayout from 'src/components/layouts/profile.astro';
import { getUser } from 'src/session.ts';
import { body_large, display_medium, title_medium } from 'src/styles/atomic/fonts.css.ts';
import { btn, input_text } from 'src/styles/forms.css.ts';

import { form, alert } from './index.css.ts';

import {
	FIELD_PASSWORD,
	FIELD_USERNAME,
	FIELD_NAME,
	FIELD_SURNAME,
} from 'src/pages/profile/update.ts';

const user = getUser(Astro.cookies);

if (!user) {
	return Astro.redirect('/login');
}

const updated = Astro.url.searchParams.has('updated');

const result = await rodeit.GET('/users/user/{user_id}', {
	params: {
		path: {
			user_id: Number(user.sub),
		},
	},
});

type User = {
	username: string;
	name: string;
	surname: string;
};

const u = result.data as User;
---

<ProfileLayout>
	<h1 class={display_medium}>My Account</h1>
	{updated && <p class:list={[body_large, alert]}>Updated successfully</p>}
	<form
		class={form}
		action="/profile/update"
		method="post"
	>
		<label
			for={FIELD_USERNAME}
			class={body_large}
		>
			Username
		</label>
		<input
			class={input_text}
			type="text"
			placeholder="Username"
			name={FIELD_USERNAME}
			value={u.username}
		/>
		<label
			for={FIELD_NAME}
			class={body_large}
		>
			First Name
		</label>
		<input
			class={input_text}
			type="text"
			placeholder="First Name"
			name={FIELD_NAME}
			value={u.name}
		/>
		<label
			for={FIELD_SURNAME}
			class={body_large}
		>
			Last Name
		</label>
		<input
			class={input_text}
			type="text"
			placeholder="Last Name"
			name={FIELD_SURNAME}
			value={u.surname}
		/>
		<label
			for={FIELD_PASSWORD}
			class={body_large}
		>
			Password
		</label>
		<input
			class={input_text}
			type="password"
			placeholder="Password"
			name={FIELD_PASSWORD}
		/>
		<button
			type="submit"
			class={btn}
			>Save</button
		>
	</form>
	<div></div>
	<h2 class={title_medium}>Danger Zone</h2>
	<form
		class={form}
		action="/profile/delete"
		method="post"
	>
		<button
			class={btn}
			type="submit"
			>Delete Account</button
		>
	</form>
</ProfileLayout>
