---
import { assignInlineVars } from '@vanilla-extract/dynamic';
import { union, literal, safeParse, Output } from 'valibot';

import { rodeit, captainCoaster, picturesBaseUrl } from 'src/api/mod.ts';
import BaseLayout from 'src/components/layouts/base/index.astro';
import { getCountryFlagUrl, CountryName } from 'src/country_flags.ts';
import { getUser } from 'src/session.ts';
import { body_large, label_large, title_medium } from 'src/styles/atomic/fonts.css.ts';

import {
	aside,
	aside_link,
	coaster,
	coaster_actions,
	coaster_details,
	coaster_details_image,
	coaster_details_meta,
	coaster_details_park,
	coasters,
	main,
	page as page_style,
} from './index.css.ts';

const OrderBySchema = union([literal('ridden'), literal('wanted')]);
type OrderBy = Output<typeof OrderBySchema>;

const orderByResult = safeParse(OrderBySchema, Astro.url.searchParams.get('orderBy'));

if (!orderByResult.success) {
	return Astro.redirect('/coasters/?orderBy=ridden');
}

const orderBy = orderByResult.output;

type Coaster = Awaited<ReturnType<typeof captainCoaster.GET<'/api/coasters/{id}'>>>;

type CoasterAndCount = {
	coaster: Coaster;
	count: number;
};

let coastersAndCounts: CoasterAndCount[] = [];
switch (orderBy) {
	case 'ridden': {
		const { data } = await rodeit.GET('/records/records/aggregate');
		if (!data) {
			return new Response(null, {
				status: 500,
				statusText: 'failed to load coasters',
			});
		}
		coastersAndCounts = await Promise.all(
			data.map(async (coasterIdAndCount) => ({
				coaster: await captainCoaster.GET('/api/coasters/{id}', {
					params: {
						path: {
							id: String(coasterIdAndCount.rollercoaster_id),
						},
					},
				}),
				count: coasterIdAndCount.count,
			}))
		);
		break;
	}
	case 'wanted': {
		const { data } = await rodeit.GET('/bucket_list/');
		if (!data) {
			return new Response(null, {
				status: 500,
				statusText: 'failed to load coasters',
			});
		}
		coastersAndCounts = await Promise.all(
			data.map(async (coasterIdAndCount) => ({
				coaster: await captainCoaster.GET('/api/coasters/{id}', {
					params: {
						path: {
							id: String(coasterIdAndCount.coaster_id),
						},
					},
				}),
				count: coasterIdAndCount.count,
			}))
		);
		break;
	}
}

const user = getUser(Astro);

function localizeCount(count: number) {
	switch (orderBy) {
		case 'ridden':
			return `Ridden ${count} time${count != 1 ? 's' : ''}`;
		case 'wanted':
			return `Wanted by ${count} user${count != 1 ? 's' : ''}`;
	}
}
---

<BaseLayout>
	<div class={page_style}>
		<aside class={aside}>
			<ul>
				<li>
					<a
						class={aside_link}
						href="?orderBy=ridden"
					>
						<p class={label_large}>Most Ridden</p>
					</a>
				</li>
				<li>
					<a
						class={aside_link}
						href="?orderBy=wanted"
					>
						<p class={label_large}>Most Wanted</p>
					</a>
				</li>
			</ul>
		</aside>
		<main class={main}>
			<ol class={coasters}>
				{
					coastersAndCounts.map((coasterAndCount) => {
						return (
							<li class={coaster}>
								<div
									class={coaster_details}
									style={assignInlineVars({
										[coaster_details_image]: `url(${picturesBaseUrl}${coasterAndCount.coaster.data?.mainImage?.path})`,
									})}
								>
									<p class={`${coaster_details_meta} ${body_large}`}>
										{localizeCount(coasterAndCount.count)}
									</p>
									<div class={coaster_details_park}>
										{coasterAndCount.coaster.data?.park?.country?.name && (
											<img
												height={12}
												width={18}
												alt={`${coasterAndCount.coaster.data.park.country.name} flag`}
												src={getCountryFlagUrl(
													coasterAndCount.coaster.data.park.country.name.slice(8) as CountryName
												)}
											/>
										)}
										<p class={body_large}>{coasterAndCount.coaster.data?.park?.name}</p>
									</div>
									<p class={title_medium}>{coasterAndCount.coaster.data?.name}</p>
								</div>
								{user && (
									<ul class={coaster_actions}>
										<li />
										<li />
									</ul>
								)}
							</li>
						);
					})
				}
			</ol>
		</main>
	</div></BaseLayout
>
